*.directory
*~
/Pangea/CMakeCache.txt
/Pangea/PWGenExe
/Pangea/CMakeFiles/*
/Pangea/Diapo_generation_terrain.pdf
/Pangea/cmake_install.cmake
/Pangea/MakeFile
/Pangea/Data/.example/*
/build_linux/*
/build_linux_debug/*
#/Beamer/*.pdf
/Beamer/*.toc
/Beamer/*.log
/Beamer/*.aux
/Beamer/*.nav
/Beamer/*.out
/Beamer/*.snm
/Beamer/*.idx
/Beamer/*.backup
/Beamer/*.synctex.gz
